<div class="col-sm-4">
  <div class="form-group">
    <%= form_for :message, url: messages_path do |f| %>
      <%= f.label 'Enter your text' %><br>
      <%= f.text_area :message, class: "form-control", rows: 3 %>
      <div class="form-check">
        <%= f.radio_button :delaydelete, 'true', :checked => true %>
        <%= label :delaydelete, 'delete after 1 hour' %><br>
        <%= f.radio_button :delaydelete, 'false' %>
        <%= label :delaydelete, 'delete after 1 view' %>
      </div>
        <%= f.submit 'Submit', class: "btn btn-default btn-primary" %>
    <% end %>
  </div>
</div>
