<div class="col-sm-4">
  <div class="form-group">
    <%= form_for :message, url: messages_path do |f| %>
      <%= f.label 'Enter your text' %><br>
      <%= f.text_area :message, class: "form-control", rows: 3 %>
      <div class="form-check">
        <%= f.radio_button :delaydelete, 'true', :checked => true %>
        <%= label :delaydelete, 'delete after 1 hour' %><br>
        <%= f.radio_button :delaydelete, 'false' %>
        <%= label :delaydelete, 'delete after 1 view' %>
      </div>
        <%= f.submit 'Submit', class: "btn btn-default btn-primary" %>
    <% end %>
  </div>
</div>


<div class="col-sm-8">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">message</th>
      <th scope="col">delaydelete</th>
      <th scope="col">link</th>
      <th scope="col">created at</th>
    </tr>
  </thead>
  <tbody>
    <% Message.all.each do |m| %>
      <tr>
        <th scope="row"><%= m.id %></th>
          <td><%= m.message %></td>
          <td><%= m.delaydelete %></td>
          <td><%= link_to message_path(m), message_path(m) %></td>
          <td><%= m.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
